[Unit]
Description=Dnspod Update Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/DnspodUpdate_I2C/
Environment="PATH=/etc/DnspodUpdate_I2C/"
ExecStart=python3 run.py
Restart=always

[Install]
WantedBy=multi-user.target
